
@{
    ViewBag.Icono = "fas fa-folder-plus";
    ViewBag.Title = "INFORMACION DEL PROYECTO ACTUAL";


}

<div class="text-center">



    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <br />
    <br />
    <address>
        PLANTILLA BASICA PARA APLICATIVO WEB DE SEFIN "SUBPROCESOS DE NOMINA"<br />
        CALLE 8, EDIFICIO LAVALLE, CENTRO HISTORICO. <br />
        <abbr title="Phone">EXTENSION:</abbr>
        33605
    </address>

    <br />
    <br />
    <address>
        <br />
        <strong>Basado en  .Net Framework V4.8 (WEB MVC ):</strong>   <a href="https://docs.microsoft.com/es-mx/aspnet/core/mvc/overview?WT.mc_id=dotnet-35129-website&view=aspnetcore-6.0" class="text-uppercase">Ver Documentacion de MVC</a><br />
        <strong>Basado en  Jquery  3.5:</strong>   <a href="https://jquery.com/" class="text-uppercase">Ver Documentacion de JQUERY</a><br />
        <strong>Basado en  Booststrap 4.6:</strong>   <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="text-uppercase">Ver Documentacion de BOOSTSTRAP</a><br />

        <strong>Librerias:</strong>
        <br />
        <strong>Soporte Datatables 1.11.4 :</strong>   <a href="https://datatables.net/" class="text-uppercase">Ver Documentacion DATATABLE</a><br />
        <strong>Soporte jquery.blockUI:</strong>   <a href="https://jquery.malsup.com/block/#page" class="text-uppercase">Ver Documentacion jquery.blockUI.js</a><br />
        <strong>Soporte Select2:</strong>   <a href="https://select2.org/getting-started/installation" class="text-uppercase">Ver Detalles SELECT2</a><br />
        <strong>Soporte SweetAlert:</strong>   <a href="https://sweetalert2.github.io/" class="text-uppercase">Ver Detalles sweetalert2</a><br />
        <strong>Soporte PDFObject:</strong>   <a href="https://pdfobject.com/" class="text-uppercase">Ver Detalles PDFObject</a><br />
        <strong>Soporte Fontawesome:</strong>   <a href="https://fontawesome.com/" class="text-uppercase">Ver Detalles Fontawesome</a><br />


    </address>



</div>

