@model Dictionary<int, string>




<seccion id="test" class="margenSection  card col-12  offset-md-2 col-md-8 text-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    </br>
    </br>

    <div class="margenSection row">

        <h4 class="col-12 text-center text-uppercase"> EJEMPLO DE SELECCION: </h4>




        <div class="col-12 offset-md-3 col-md-6 text-center">
            <div class="form-group">
                <br />
                <select class="form-control" id="IdEjemplo" required>
                    <option value="" disabled selected>Seleccione una referencia...</option>
                    @if (Model.Count > 0)
                    {
                        foreach (var nuevoregistro in Model)
                        {
                            <option value="@nuevoregistro.Key">@nuevoregistro.Value </option>
                        }

                    }
                    else
                    {
                        <option value="" disabled selected>Sin datos para mostrar</option>
                    }

                </select>
            </div>
        </div>



        <div class="col-12 text-center">
            <br />
            <button  type="button" class="btn btn-lg btn-success" onclick="BuscarMateria()"><i class="far fa-arrow-alt-circle-right"></i> Peticion Tran_SQLConexion  <i class="far fa-arrow-alt-circle-right"></i></button>
            <button type="button" class="btn btn-lg btn-success" onclick="PetionAXIOS('@Url.Content("~/Home/RealizarUnaAccion")')"><i class="far fa-arrow-alt-circle-right"></i> Petion Axios  <i class="far fa-arrow-alt-circle-right"></i></button>

        </div>


    </div>

    </br>
    </br>
</seccion>







<!-- Modal para ver alumnos en materias   -->
<div class="modal fade" id="PruebaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-11 text-uppercase text-center">Lista de alumnos que toman la materia seleccionada </h4>
                <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="margenSection">
                    <div class="table-responsive">

                        <div id="divTblAlumnos">

                            <table id="TblAlumnos" class='table table-striped table-bordered table-hover' style="display:block">
                                <caption class="text-uppercase">Historico DE  SEGUIMIENTO </caption>
                                <thead class="tabla">
                                    <tr class="text-center text-uppercase">

                                        <th>Detalles o problemas con nominas </th>
                                    </tr>
                                </thead>


                            </table>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-primary" onclick="$('#PruebaModal').modal('hide')">Cerrar</button>

            </div>
        </div>
    </div>
</div>







<!-- Modal para ver especialidad  -->
<div class="modal fade" id="VerEspecialidad" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-11 text-uppercase text-center">Detalles de especialidad </h4>
                <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="margenSection">
                    <div class="table-responsive">

                        <div id="divTblEspecialidad">

                            <table id="TblEspecialidad" class='table table-striped table-bordered table-hover' style="display:block">
                            </table>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-primary" onclick="$('#VerEspecialidad').modal('hide')">Cerrar</button>

            </div>
        </div>
    </div>
</div>




<style>

    .modal.fade {
        background: rgba(0,0,0,0.9);
    }
</style>





























